body
{
    text-align: center;
    border: 10px solid #c8b7ff;
    background-color: #d7f4fa;
    margin: 50px 25%;
    padding: 10px;
}
h1
{
    font-size: 50px;
    color: black;
}
p
{
    color: rgb(75, 75, 75);
    font-size: 25px;
}