body
{
    text-align: center;
    border: 10 solid #c7b8ff;
    background-color: #d7f4fa;
    margin: 50px 50%;
}
h1
{
    font-size: 50px;
    color: black;
}
p
{
    color: rgb(75, 75, 75);
    font-size: 25px;
}